body {
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/pexels-evgeny-tchebotarev-1058775-2187605.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

#canvas {
    width: 100%;
    height: 500px;
    position: relative;
    z-index: 20;
    pointer-events: none;
}
