body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/pexels-evgeny-tchebotarev-1058775-2187605.jpg") no-repeat ;
    background-size: cover;
    margin: 0 50px;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/vagesha_rolenda/Vagesha Rolenda.otf');
    font-weight: normal;
    font-style: normal;

}

h1 {
    text-align: center;
    font-family: "MyCustomFont", serif;
    font-size: 130px;
    margin-top: -100px;
    margin-bottom: 2px;
    color: #FAF3B7;
}

@font-face {
    font-family: 'MyCustomFont2';
    src: url('fonts/vagesha_rolenda/Vagesha Rolenda.otf');
    font-weight: normal;
    font-style: normal;
}

h2 {
    text-align: center;
    font-family: 'MyCustomFont2', serif;
    font-size: 40px;
    margin-top: 2px;
    margin-bottom: 120px;
    font-weight: bold;
    font-style: italic;
    color: #FAF3B7;
}



.quoteMachine {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 200px;
}


@font-face {
    font-family: 'MyCustomFont3', serif;
    src: url('fonts/salsify/Salsify DEMO.otf');
    font-weight: normal;
    font-style: normal;
}

.quoteResult {
    display: block;
    margin: 0 auto;
    font-family: "MyCustomFont3", serif;
    font-size: 35px;
    text-align: center;
    border-radius: 5px;
    padding: 7px;
    color: white;
    cursor: pointer;
}

@font-face {
    font-family: 'MyCustomFont4';
    src: url('fonts/paperlogy/Paperlogy-5Medium.ttf');
    font-weight: normal;
    font-style: normal;
}


.quoteButton {
    display: inline-block;
    border-radius: 30px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    background-color: #d3d3d3;
    font-family: 'MyCustomFont4', serif;
    font-size: 14px;
    padding: 14px;
    cursor: pointer;
}


.quoteContainer {

    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.speakButton, .settingsButton {
    display: inline-block;
    border-radius: 160px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    background-color: #FAF3B7;
    font-size: 14px;
    padding: 15px;
    cursor: pointer;
    }


.settings-container{
    position: absolute;
    top: 20px;
    right: 40px;
    text-align: center;
    height: 400px;
    width: 260px;
}

.settings-popup{
   position: absolute;
   display: none;
   top: 70px;
}

.show{
    display: block;
    border: 3px solid black;
    background-color: lightgrey;
    border-radius: 50px;
    font-family: MyCustomFont4, serif;
    font-size: 13px;
    height: 250px;
    width: 250px;

}

.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 180px;
    height: 15px;
    border-radius: 10px;
    background: #ffffff;
    border: 2px solid black;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background: url("images/totoro.png") no-repeat center;
    background-size: contain;
    border: none;
}

.speed-settings, .volume-settings, .pitch-settings{
    height: 65px;
}